@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

.home {
  // margin-top: -5rem;
  // height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading-h1 {
  font-family: "Krona One", sans-serif;
  font-weight: normal;
  margin-bottom: 1.8rem;
  text-align: center;
  color: white;
}
.avatar-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo-container {
  margin-top: -5rem;
  margin-bottom: 2.5rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 0.85rem;
  border-radius: var(--radius);
  border: 1px solid hsl(197, 88%, 42%);
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  border-radius: 1rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-grey-5);
}
.btn a {
  text-decoration: none;
  color: white;
}
.btnContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.aboutme-btn {
  margin-right: 1rem;
  background: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}
.contactme-btn {
  letter-spacing: 1px;
}

@media screen and (min-width: 800px) {
  .heading-h1 {
    font-size: 3rem;
  }
  .btn {
    padding: 0.5rem 1.3rem;
  }
  .logo-container{
    margin-top: 0;
  }
}
